.img-primary {
  transition: transform 1s;
}

.active {
  opacity: 1;
  visibility: visible;
}

.disable {
  opacity: 0;
  visibility: hidden;
}

.primary-creator {
  &:hover {
    .img-primary {
      transform: scale(1.1);
    }
    .icon-container {
      opacity: 1;
      visibility: visible;
    }
    .img-container {
      &:before {
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }
  }
}

.containerLittleCreators {
  &:hover {
    .img-primary {
      transform: scale(1.1);
    }
  }
}

.img-container {
  &:before {
    transition: all 0.2s;
  }
}

.icon-container {
  transition: all 0.2s;
}
